
.chatPageMainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;           
    width: 100%;             
    box-sizing: border-box;     
    overflow: hidden;        
  }
  .mainChatPageContainer {
    width: 100%; 
  }
 
  .sidebarAndChatboxContainer {
    display: flex;
    flex: 1;                  
    height: 100%;            
    overflow: hidden;    
    width: 100%;
  }
